@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Kdam+Thmor+Pro&family=Kode+Mono:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
  }

  
  section {
    height: 100vh;
    overflow: hidden;
  }
  
  nav {
    width: 100%;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    display: flex;
   
    align-items: center;
  }


  
  .logo{
    display: flex;
    width: 55%;
    align-items: center;
    position: relative;
    left: 10px;
    
  }

  .logo img{
    width: 42px;
    height: 42px;
    border-radius: 24%;
    margin-right: 8px;
  }
  
  nav p {
    font-size: 28px;
    font-weight: 700;
    color:rgb(17,2,36);
  font-weight: 800;
  font-style: normal;
  
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    background: rgb(17,2,36);
background: linear-gradient(180deg, rgba(17,2,36,1) 3%, rgba(58,12,55,1) 54%, rgba(66,11,53,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    width: 1000px;
    height: 450px;
    position: relative;
    bottom: 55px;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    align-items: center
  }


  
  .heading {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    padding: 8px;
    font-size: 25px;
    font-weight: 700;
    font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
  
.optionmain {
    width: 67%;
    padding: 14px;
    display: flex;
    justify-content: space-around;
    height: 97%;
    border-radius: 20px;
    gap: 0px;
     align-items: center;
     font-weight: 700;
     letter-spacing: 1px;
}
  


.circle{

  display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    z-index: 2;
  font-size: 30px;
 

}
  
  .option{
    width: 48%; /* Adjusted to leave some space between 
    options */
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #000000;
    border-radius: 8px;
    margin-top: 5px;
    font-size: 28px;
    font-family: 'Nunito', sans-serif;
    color: #ffff;
    position: relative;
    transition: transform 0.8s ease, background-image 0.8s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


    padding: 20px;
    min-height: 120px;
    line-height: 28px;
    
  }
  
  #op1 {
    background-image: linear-gradient(to bottom, #f95e49, rgb(246, 55, 96), #FF2D53, #f2234f, #FF085A);
    transform: rotate(352deg);
    height: 250px;
    width: 215px;
    font-size: 28px;
    position: relative;
    left: 45px;
    border-radius: 20px;
  }
  
  #op2 {
    background-image: linear-gradient(to bottom, #02B1F3, #02B1F3, #0377e3, #025ee0, #291fe4);
   border-radius: 20px;
    transform: rotate(8deg);
    height: 250px;
    width: 215px;
    position: relative;
    font-size: 28px;
    right: 45px;
  }
  
  #op1:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom, #fa624e, rgb(248, 63, 103), #ff355a, #f32a56, #fa1c66);
   
  }

  #op2:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom, #0bb5f3, #0db5f3, #0c85f5, #116ef1, #574feb);
   
  }

  .option:hover p {
    transform: translateY(-45px);
    transition: transform 0.8s;
  }
  .option p {
    transition: all 0.8s;
    font-size: 35px;
  }
  
  .option.clicked p {
    transform: translateY(-70px);
    transition: transform 0.9s;
  }


  .percentage {
    display: none;
    font-size: 25x;
    text-align: center;
    transition: opacity 0.6s ease; 
    opacity: 0; 
    position: relative;
    top: 20px;
    color: rgb(0, 0, 0);
    font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
  
    
  }
  
  .option.clicked p.percentage {
    display: block;
    opacity: 1; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  


  .option.clicked p.text {
    transform: translateY(-70px);
    transition: transform 0.9s;
  }
  

